[submodule "external/neural_renderer"]
	path = external/neural_renderer
	url = http://gitlab.alibaba-inc.com/rakesh.rs/neural_renderer.git
[submodule "utils/mesh_decimation/vcglib"]
	path = utils/mesh_decimation/vcglib
	url = https://github.com/rakeshshrestha31/vcglib.git
[submodule "utils/PoissonRecon"]
	path = utils/PoissonRecon
	url = https://github.com/mkazhdan/PoissonRecon.git
